<card title="topic.title" description="topic.description">
    <md-list>
        <md-divider ></md-divider>
        <!--Todo get topic id from app rather than using topic title-->
        <md-list-item class="md-3-line" ng-repeat="quiz in topic.quizzes track by $index">
            <div class="md-list-item-text" layout="column"
                 ui-sref="quiz({topic: topic.title, id : $index })">
                <h3>{{ quiz.title }}</h3>
                <h4>{{ quiz.description }}</h4>
            </div>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
</card>
