<titled-card title="topic.title" description="topic.description" >
    <div ng-if="topic.current === undefined" layout="row" layout-align="space-around center" class="md-padding">
        <div layout="column" layout-align="center center">
            <md-button class="md-fab" aria-label="Tutorial" ng-click="topic.current = 'tutorial'" ng-disabled="!topic.tutorial">
                <md-icon> cake </md-icon>
            </md-button>
            <h2>Tutorial</h2>
        </div>
        <div layout="column" layout-align="center center">
            <md-button class="md-fab" aria-label="Test" ng-click="topic.current = 'test'" ng-disabled="!topic.test">
                <md-icon> cake </md-icon>
            </md-button>
            <h2>Test</h2>
        </div>
        <div layout="column" layout-align="center center">
            <md-button class="md-fab" aria-label="Tool" ng-click="topic.current = 'tool'" ng-disabled="!topic.tool">
                <md-icon> cake </md-icon>
            </md-button>
            <h2>Tool</h2>
        </div>
    </div>

    <div ng-if="topic.current === 'test'" layout="column">
        <p>{{topic.test.description}}</p>
        <spreadsheet data="topic.test.table" answer="topic.test.answer" ng-if="topic.test.type === 'table'"></spreadsheet>
        <multichoice options="topic.test.options" answer="topic.test.answer" ng-if="topic.test.type === 'multichoice'"></multichoice>
        <basic answer="topic.test.answer" ng-if="topic.test.type === 'basic'"></basic>
        <md-button class="md-raised md-primary">Check Answer</md-button>
    </div>
    <div ng-if="topic.current === 'tool'">
        <p>{{topic.tool.description}}</p>
        <spreadsheet data="topic.tool.table" ng-if="topic.tool.type === 'table'"></spreadsheet>
    </div>
    <div ng-if="topic.current === 'tutorial'">
        <p>{{topic.tutorial.description}}</p>
        <spreadsheet data="topic.tutorial.table" ng-if="topic.tutorial.type === 'table'"></spreadsheet>
        <basic answer="topic.tutorial.answer" ng-if="topic.tutorial.type === 'basic'"></basic>
        <multichoice options="topic.tutorial.options" answer="topic.tutorial.answer" ng-if="topic.tutorial.type === 'multichoice'"></multichoice>
    </div>
</titled-card>