<div flex="100" layout="row">
    <a ui-sref="all" flex layout-padding>
        <md-button class="md-raised nav-tile" aria-label="All Questions">
            <md-icon> list </md-icon>
            All Questions
        </md-button>
    </a>
    <a ui-sref="about" flex layout-padding>
        <md-button class="md-raised nav-tile" aria-label="Info">
            <md-icon >info</md-icon>
            Info
        </md-button>
    </a>
    <a ui-sref="help" flex layout-padding>
        <md-button class="md-raised nav-tile" aria-label="Help">
            <md-icon> help </md-icon>
            Help
        </md-button>
    </a>
    <a ui-sref="home" flex="40" layout-padding>
        <md-button id="brand" class="md-flat nav-tile" layout-fill aria-label="Brand">
            <md-tooltip md-direction="top">
                Home
            </md-tooltip>
            <h1 class="">farmFINANZ</h1>
        </md-button>
    </a>
</div>