<div flex="100" layout="row">
    <md-button flex class="md-raised nav-tile" aria-label="Tutorial">
        <md-icon> cake </md-icon>
        Tutorial
    </md-button>
    <md-button flex class="md-raised nav-tile" aria-label="Test">
        <md-icon> cake </md-icon>
        Test
    </md-button>
    <md-button flex class="md-raised nav-tile" aria-label="Tool">
        <md-icon> cake </md-icon>
        Tool
    </md-button>
    <md-button  flex="50" class="md-raised nav-tile" ui-sref="home" aria-label="Tool">
        <md-icon> home </md-icon>
        farmFINANZ
    </md-button>
</div>