<div flex="100" layout="row">
    <md-button flex class="md-raised nav-tile" aria-label="Tutorial">
        <md-icon md-svg-src="{{getVector('tutBtn')}}" class="cust-icon"> </md-icon>
        Tutorial
    </md-button>
    <md-button flex class="md-raised nav-tile" aria-label="Test">
        <md-icon md-svg-src="{{getVector('tstBtn')}}" class="cust-icon"> </md-icon>
        Test
    </md-button>
    <md-button flex class="md-raised nav-tile" aria-label="Tool">
        <md-icon md-svg-src="{{getVector('toolBtn')}}" class="cust-icon"> </md-icon>
        Tool
    </md-button>
    <a ui-sref="home" flex="40">
        <md-button id="brand" class="md-flat nav-tile" layout-fill aria-label="Brand">
            <h1 class="">farmFINANZ</h1>
        </md-button>
    </a>
</div>