<md-content class="md-padding" layout="row" layout-wrap layout-align="center start" layout-xs="column">
    <div flex="100" flex-sm="100" flex-xs="100" layout="column">
        <md-card class="ms-padding">
            <md-content ng-transclude>

            </md-content>
            <md-card-actions layout="row" layout-align="end center" ng-if="app.isAdmin">
                <md-button ng-if="app.editable">Add</md-button>
                <md-button ng-if="app.editable">Delete</md-button>
                <md-button ng-if="app.editable">Help</md-button>
                <md-button ng-click="app.editable=!app.editable">{{app.editable ? "Save" : "Edit"}}</md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>

