<md-content class="md-padding" layout="row" layout-wrap layout-align="center start" layout-xs="column">
    <div flex="100" flex-sm="100" flex-xs="100" layout="column">
        <md-card class="ms-padding">
            <md-content ng-transclude>

            </md-content>
            <bottom-nav class="md-padding"></bottom-nav>
            <md-card-actions layout="row" layout-align="end center" ng-if="!app.isAdmin">
                <md-button ng-if="app.editable && !!add" ng-click="add()">Add</md-button>
                <md-button ng-if="app.editable && !!remove" ng-click="remove()">Delete</md-button>
                <md-button ng-if="app.editable && !!help" ng-click="help()">Help</md-button>
                <md-button ng-if="app.editable" ng-click="app.editable = false">Cancel</md-button>
                <md-button ng-click="app.editable ? save() : app.editable = true">{{app.editable ? "Save" : "Edit"}}</md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>

