@import "~app/colours";

#hometext {
  text-align: justify;
}

line-chart {
  min-height: 300px;
}

.carousel-control {
  background : none !important;
}

.carousel-indicators li {
  &:active, &:focus &:selection &:hover {
    background: $AgriTextGrey;
  }
  border: 1px solid $AgriTextGrey;
}
