@import "~app/colours";

.hometext {
  text-align: justify;
  font-size: 1.5rem;
  line-height: 1.6;
  white-space: pre-line;
}

canvas {
  min-height: 50%;
}

.carousel-control {
  background : none !important;
}

.carousel-indicators li {
  &:active, &:focus &:hover {
    background: $AgriTextGrey;
  }
  border: 1px solid $AgriTextGrey;
}
