<plain-card class="body-space" save="home.save">
    <md-content layout="row" layout-align="center start" layout-padding>
        <editable id="hometext" name="'HomeDescription'" value="home.description" type="'textArea'" description="'Home Description'"
                  flex="50" class="md-headline" layout-padding></editable>
        <uib-carousel interval="5000" no-wrap="noWrapSlides" flex="50" layout-align="center center" ng-init="home.graphs=home.shuffleGraphs()">
            <uib-slide ng-repeat="graph in home.graphs" layout="row" layout-align="space-between center">
                <p class="md-headline">{{graph.title}}</p>
                <canvas layout-padding layout-align="center center" class="chart chart-line" chart-data="graph.data"
                        chart-series="graph.series" chart-legend="false" chart-labels="graph.labels"></canvas>
            </uib-slide>
        </uib-carousel>
    </md-content>
</plain-card>