<plain-card class="body-space" save="home.save">
    <md-content layout="row" layout-align="center start" layout-padding>
        <editable id="hometext" value="home.description" type="'text_area'" description="'Home Description'"
                  flex="50" class="md-headline" layout-padding></editable>
        <div flex="50">
            <uib-carousel interval="5000" no-wrap="noWrapSlides" ng-init="home.graphs=home.shuffleGraphs()">
                <uib-slide ng-repeat="graph in home.graphs" layout="column">
                    <p class="md-headline">{{graph.title}}</p>
                    <canvas layout-padding class="chart chart-line" chart-data="graph.data"
                            chart-series="graph.series" chart-legend="false" chart-labels="graph.labels"></canvas>
                </uib-slide>
            </uib-carousel>
        </div>
    </md-content>
</plain-card>