//@import '../..//colours.scss';

.calculated {
  //todo, get this import working zzz
  background-color: #a4c0b5;
}

.md-errors-spacer {
  height : 0;
  min-height: 0 !important;
  max-height: 0;
}

.tableHeading {
  font-weight: bold;
  font-size: 150%;
  color: rgba(0, 0, 0, 0.54);
}

#example {
 text-align: center;
}

td {
  display: flex;
}