<md-table-container class="md-padding">
    <table md-table ng-model="selected" md-progress="deferred">
        <thead md-head>
            <tr md-row>
                <th md-column md-numeric ng-repeat="heading in table.getHeadings() track by $index">
                    <span class="tableHeading" ng-if="$root.app.editable === false">{{heading}}</span>
                    <md-input-container ng-if="$root.app.editable == true">
                        <label>Row {{$index + 1}} Heading</label>
                        <input class="tableHeading" required ng-model="heading" type="text">
                    </md-input-container>
                </th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row ng-repeat="(key, values) in data track by $index" ng-if="$index < table.dataSize - 1">
                <td md-cell ng-repeat="item in [key].concat(values) track by $index">
                    <md-input-container ng-if="$root.app.editable == true">
                        <label ng-if="$index > 0">{{table.calculate(item).value}}</label>
                        <input required type="text" ng-model="data[$parent.key][$index - 1]" ng-if="$index > 0">
                        <input class="tableHeading" required type="text" ng-model="item" ng-if="$index === 0">
                    </md-input-container>
                    <p class="tableHeading" ng-if="$root.app.editable === false && $index === 0">{{item}}</p>
                    <p ng-if="$root.app.editable === false && $index > 0 && item[0] != '?'">{{table.calculate(item).value}}</p>
                    <md-input-container ng-if="item[0] == '?' && $root.app.editable === false && $index > 0">
                        <!--TODO ng-model-->
                        <input required type="text">
                    </md-input-container>
                </td>
            </tr>
        </tbody>
    </table>
</md-table-container>