<md-table-container class="md-padding">
    <table md-table ng-model="selected" md-progress="deferred" ng-init="table.computeTableValues()">
        <thead md-head ng-if="topHeader === true">
            <tr md-row>
                <th md-column md-numeric ng-repeat="heading in table.getTopHeadings() track by $index">
                    {{heading}}
                </th>
                <th md-cell ng-if="$root.app.editable === true" layout="column" layout-align="center center">
                    <md-button class="md-icon-button" aria-label="Add">
                        <md-icon>add_circle_outline</md-icon>
                    </md-button>
                </th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row ng-repeat="row in table.table track by $index">
                <td md-cell ng-repeat="cell in row track by $index" ng-if="side === true && $first">
                    <h4>{{cell.calculated}}</h4>
                </td>
                <td md-cell ng-repeat="cell in row track by $index" ng-if="side === false || !$first">
                    <p ng-if="cell.type='input'">Test Input Cell {{cell.calculated}}</p>
                    <p ng-if="cell.type='hover'">Tutorial Hover Cell {{cell.calculated}}</p>
                    <p ng-if="cell.type='computed'">{{cell.calculated}}</p>
                </td>
                <td md-cell ng-if="$root.app.editable" layout="column" layout-align="center center">
                    <md-button class="md-icon-button" aria-label="Add">
                        <md-icon class="add">add_circle_outline</md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Remove">
                        <md-icon class="remove">remove_circle_outline</md-icon>
                    </md-button>
                </td>
            </tr>
        </tbody>
        <tfoot md-foot ng-if="$root.app.editable === true">
            <tr md-row>
                <td ng-repeat="items in table.table[0] track by $index" layout="row" layout-align="center center">
                    <md-button class="md-icon-button" aria-label="Add">
                        <md-icon class="add">add_circle_outline</md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Remove" ng-if="$index > 0">
                        <md-icon class="remove">remove_circle_outline</md-icon>
                    </md-button>
                </td>
            </tr>
        </tfoot>
    </table>
</md-table-container>