<titled-card title="quiz.title" description="quiz.description" >
    <div layout="row" layout-align="space-around center" class="md-padding">
        <div layout="column" layout-align="center center">
            <md-button class="md-fab" aria-label="Tutorial">
                <md-icon> cake </md-icon>
            </md-button>
            <h2>Tutorial</h2>
        </div>
        <div layout="column" layout-align="center center">
            <md-button class="md-fab" aria-label="Test">
                <md-icon> cake </md-icon>
            </md-button>
            <h2>Test</h2>
        </div>
        <div layout="column" layout-align="center center">
            <md-button class="md-fab" aria-label="Calculator">
                <md-icon> cake </md-icon>
            </md-button>
            <h2>Calculator</h2>
        </div>
    </div>
</titled-card>