<md-content ng-init="show=false" layout="column" layout-align="start start">
    <div class="editable" ng-mouseenter="editable.showButton()" ng-mouseleave="editable.hideButton()" ng-if="!$root.editingName || $root.editingName !== description" layout-align="start start" layout="column">
        <p ng-if="($root.app.editable === false || !show || show === false ) && value" layout-align="start start">{{value}}</p>
        <md-button class="md-raised md-warn editable" ng-if="show===true && $root.app.editable" ng-click="hideButton(); $root.editingName=description" layout-fill><md-icon>edit</md-icon></md-button>

    <md-input-container class="editable" ng-if="$root.editingName === description && $root.app.editable === true">
        <label>{{description}}</label>
        <textarea ng-if="type === 'text_area'" required type="text" ng-model="$root.edit[description]" ng-init="$root.edit[description]=value"></textarea>
        <input ng-if="type === 'input'" required type="text" ng-model="$root.edit[description]" ng-init="$root.edit[description]=value"/>
    </md-input-container>
</md-content>
