.nav-list {
  height : 80px;
  list-style-type: none;
  padding: 0;
}

.scroll-button {
  white-space: normal;
  padding: 1%;
  width: 12%;
  margin: 0 10px;
}
.nav-tile {
  margin:0;
  height: 80px;
  padding: 0;
}

.nav-arrow {
  width: 20px;
}