<nav>
    <md-list layout="row" layout-align="space-between start" flex> <!-- main display nav -->
        <md-list-item ng-if="$root.app.isMobile === false"> <!-- left control div -->
            <md-button ng-click="nav.scrollLeft()" class="nav-arrow">
                <md-icon> keyboard_arrow_left </md-icon>
            </md-button>
        </md-list-item>
        <md-list-item ng-repeat="category in nav.categories track by $index" flex="15" layout="row" layout-align="stretch center" ng-if="$index < nav.displayCount()">

            <a ng-disabled="nav.index === category._id" class="nav-sref"
               ui-sref="category({ id: category._id })" ng-click="nav.centerIndex(category._id)" layout-fill>

                <md-button ng-disabled="nav.index === category._id" class="md-padding md-raised nav-tile">{{category.title}}</md-button>
            </a>
        </md-list-item>
        <md-list-item flex="15" ng-if="$root.app.editable">
            <md-button class="add md-raised nav-tile" aria-label="Add">
                <md-icon>add_circle_outline</md-icon>
            </md-button>
        </md-list-item>
        <md-list-item ng-if="$root.app.isMobile === false"> <!-- left control div -->
            <md-button ng-click="nav.scrollRight()" class="nav-arrow">
                <md-icon> keyboard_arrow_right </md-icon>
            </md-button>
        </md-list-item>
    </md-list>
</nav>