ol, li {
  margin: 0;
  padding: 0;
}

.nav-container {
  width: 20%;
}

.nav-tile {
  height : 80px;
  width: 100%;
  max-width: none;
  white-space: normal;
}

.nav-arrow {
  min-width: 4%;
  height: 80px;
}