@import "~app/colours";

ol, li {
  margin: 0;
  padding: 0;
}

.nav-container {
  width: 20%;
}

.nav-tile {
  button[disabled] {
    background-color: darken($MasseyBlue, 0%);
  }
  height : 80px;
  width: 100%;
  max-width: none;
  white-space: normal;
}

.nav-sref {
  height : 80px;
  min-height: 0;
}

.nav-arrow {
  min-width: 4%;
  height: 80px;
}
