.md-2-line {
  height: 40px;
  max-height: 80px;
}

.li {
  width : 100%;
}

v-pane-header, .md-button{
  width: 100%;
  min-width: 0;
}


v-pane-header>div {
  width: 100%;
  
  h4 {
    text-align: left;
    display: flex;
  }
}

md-list, .accordion {
  width: 95%;
}