<titled-card title="$root.category.title" description="$root.category.description" help="category.help"
             save="category.save">
    <v-accordion>
        <v-pane ng-repeat="topic in $root.category.topics track by $index">
            <v-pane-header>
                <md-button class="md-list-item-text" ng-class="$root.app.editable === true ? 'delete' : ''" ng-click="$root.app.editable === true ? deleteTopic(topic._id) : {} ">
                    <h4 id="vHead" layout="row" >
                        <md-icon ng-if="$root.app.editable === true">remove_circle_outline</md-icon>
                        <span >{{ topic.title }}</span>
                        <md-icon layout-align="end end"> {{$pane.isExpanded() ? "keyboard_arrow_up" : "keyboard_arrow_down"}}</md-icon>
                    </h4>
                </md-button>
                <md-divider></md-divider>
            </v-pane-header>
            <v-pane-content>
                <md-content class="accordion">
                    <md-list layout="column">
                        <md-list-item ng-repeat="question in topic.questions track by $index"
                                      layout="row" layout-align="start start" flex>
                            <a class="li"
                               ui-sref="topic({categoryId: $root.category._id, topicId: topic._id, questionId: question._id, part: 'tutorial'})"
                               ng-click="$root.app.editable === true ? deleteQuestion(question._id) : {}"
                               flex="65" layout-align="start start">
                                <md-button class="md-no-style md-list-item-text" ng-class="$root.app.editable === true ? 'delete' : ''">
                                    <h3>
                                        <md-icon ng-if="$root.app.editable === true">remove_circle_outline</md-icon>
                                        <span> {{question.title}}</span>
                                    </h3>
                                </md-button>
                            </a>
                            <a class="li"
                               ui-sref="topic({categoryId: $root.category._id, topicId: topic._id, questionId: question._id, part: 'tutorial'})"
                               flex="10" layout-align="end end">
                                <md-button>
                                    <md-icon md-svg-src="{{getVector('tutBtn')}}" class="cust-icon"> </md-icon>
                                </md-button>
                            </a>
                            <a class="li"
                               ui-sref="topic({categoryId: $root.category._id, topicId: topic._id, questionId: question._id, part: 'test'})"
                               flex="10" >
                                <md-button>
                                    <md-icon md-svg-src="{{getVector('tstBtn')}}" class="cust-icon"> </md-icon>
                                </md-button>
                            </a>
                            <a class="li"
                               ui-sref="topic({categoryId: $root.category._id, topicId: topic._id, questionId: question._id, part: 'tool'})"
                               flex="10">
                                <md-button>
                                    <md-icon md-svg-src="{{getVector('toolBtn')}}" class="cust-icon"> </md-icon>
                                </md-button>
                            </a>
                    </md-list>
                    <md-button ng-if="$root.app.editable === true" class="add md-raised" aria-label="Add" ng-click="$parent.top.addQuestion()">
                        <md-icon>add_circle_outline</md-icon>
                        <span>Question</span>
                    </md-button>
                </md-content>
            </v-pane-content>
            <md-divider ng-if="$pane.isExpanded()"></md-divider>
        </v-pane>
    </v-accordion>
    <md-button class="add md-raised" aria-label="Add" ng-if="$root.app.editable" ng-click="category.addTopic()">
        <md-icon>add_circle_outline</md-icon>
        <span>Topic</span>
    </md-button>
</titled-card>
