<titled-card title="category.title" description="category.description" add="category.add"
             remove="category.remove" help="category.help" save="category.save">
    <md-list>
        <md-list-item class="md-2-line" ng-repeat="topic in category.topics track by $index" layout="column" layout-align="start center">
            <a class="li" ui-sref="topic({id: topic.id})">
                <md-button class="md-no-style md-list-item-text">
                    <h3>{{ topic.title }}</h3>
                    <h4>{{ topic.description }}</h4>
                </md-button>
            </a>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
</titled-card>
