<md-content class="md-padding">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <div ng-if="$root.app.editable === false" layout="column">
                    <span class="md-headline">{{title}}</span>
                    <span class="md-subhead" ng-if="description">{{description}}</span>
                </div>
                <md-input-container ng-if="$root.app.editable === true">
                    <label>Title</label>
                    <input required type="text" ng-model="title">
                </md-input-container>
                <md-input-container ng-if="$root.app.editable === true && description">
                    <label>Description</label>
                    <textarea ng-model="description" md-maxlength="150"></textarea>
                </md-input-container>
            </md-card-title-text>
        </md-card-title>
        <br>
        <md-divider></md-divider>
        <md-content ng-transclude layout="column">
        </md-content>
        <bottom-nav class="md-padding"></bottom-nav>
        <md-card-action layout="row" layout-align="end center" ng-if="$root.app.isAdmin === true">
            <md-button ng-if="$root.app.editable && !!add" ng-click="add()">Add</md-button>
            <md-button ng-if="$root.app.editable && !!remove" ng-click="remove()">Delete</md-button>
            <md-button ng-if="$root.app.editable && !!help" ng-click="help()">Help</md-button>
            <md-button ng-if="$root.app.editable" ng-click="$root.app.editable = false">Cancel</md-button>
            <md-button ng-click="$root.app.editable ? save() : $root.app.editable = true">{{$root.app.editable == true ? "Save" : "Edit"}}</md-button>
        </md-card-action>
    </md-card>
</md-content>


