<md-content class="md-padding">
    <md-card layout-fill layout="column">
        <md-card-title layout-align="start center" flex="20">
            <md-card-title-text>
                <div layout="column">
                    <a ng-if="$root.app.editable === true" href="#" editable-text="title"
                       class="md-headline" layout-padding buttons="no" e-required
                       e-ng-change="card.updateModel('Title', $data)" e-name="name">
                        <p class="md-headline">{{ title || "" }} </p>
                    </a>
                    <p ng-if="$root.app.editable === false" class="md-headline" layout-padding>{{title || ""}}</p>

                    <a ng-if="$root.app.editable === true" href="#" editable-textarea="description"
                       class="md-subtitle" layout-padding e-rows="5" e-cols="70" buttons="no" e-required
                       e-ng-change="card.updateModel('Description', $data)" e-name="name">
                        <p class="md-subtitle">{{ description || "" }} </p>
                    </a>
                    <p ng-if="$root.app.editable === false && !!description" class="md-subtitle" layout-padding>{{description || ""}}</p>
                </div>
            </md-card-title-text>
        </md-card-title>
        <md-divider></md-divider>
        <md-content layout="row" layout-align="center center" layout-margin>
            <md-content ng-transclude flex="100"></md-content>
        </md-content>
        <bottom-nav class="md-padding"></bottom-nav>
        <md-card-action layout="row" layout-align="end end"><!-- ng-if="$root.app.isAdmin === true" -->
            <md-button ng-if="$root.app.editable && !!add" ng-click="add()">Add</md-button>
            <md-button ng-if="$root.app.editable && !!remove" ng-click="remove()">Delete</md-button>
            <md-button ng-if="$root.app.editable && !!help" ng-click="help()">Help</md-button>
            <md-button ng-if="$root.app.editable" ng-click="$root.app.resetEdit()">Cancel</md-button>
            <md-button ng-click="card.save(save)">{{$root.app.editable == true ? "Save" : "Edit"}}</md-button>
        </md-card-action>
    </md-card>
</md-content>


