<titled-card title="'About'">
    <p class="about_text md-headline" layout-padding>
        Forgotten how to make that stock reconciliation balance?
        How is GST calculated?
        How is it again that return on investment (ROI) is calculated?
        How is overdraft interest calculated?
    </p>
    <p class="about_text" layout-padding>
        Farm finance represents the fundamentals in farm management.
        We trawled through all Massey farm business management teaching material, captured the farm finance resources and made them available to you in this new and interactive format.
        Join us in growing the understanding of farm finance.

        Who is the group that made this happen?
         - Prof Nicola Shadbolt I Chair in Farm Management
         - Mr Warren Anderson I Senior Lecturer in Agricultural Systems
         - Dr Dave Gray I Senior Lecturer in Farm Management

        Content credits to:
         - Eva Schröer-Merker I Senior Tutor in Farm Business Management I Project Lead
         - Mr DJ Apparao I Tutor I Quiz development
         - Gareth Young I Senior Rural Consultant I Quiz development

        Massey IT Team:
         - Prof Hans Guesgen I Supervisor
         - David Dudson I Programmer
         - Anthony Crowcroft I Programmer

        With thanks to all those who contributed and helped with the project.
    </p>
</titled-card>