<h1 class="md-title"></h1>
<p id="about_text">
    This web application was developed over the 2015-2016 Summer School semester.

    The project was undertaken by two undergraduate students from doing a Bachelor of Information Science.

    Client: Eva Schroer-Merker.
    Supervisor: Hans W. Guesgen
    Programmers:
       - David Dudson
       - Anthony Crowcroft
    Other interested parties:
        - Massey Agrifood Developers
        - The Agri department.

    With thanks to all those who contributed/helped with the project.
</p>