@import "colours";

@font-face {
  font-family: 'UniverseLT';
  src: url(fonts/universltstd-lightcn.woff) format('woff');
  src: url(fonts/universltstd-lightcn.ttf) format('truetype');
  src: url(fonts/universltstd-lightcn.svg) format('svg');
  src: url(fonts/universltstd-lightcn.eot) format('eot');
  font-weight: normal;
  font-style: normal;
}


body {
  background-color: $AgriBackgroundWhite;
  font-family: 'UniverseLT', Arial, sans-serif !important;

  #copy {
    text-align: center;
  }

  .app {
    background-color : white;
    line-height: 1.4;
    width: 100%;
    height: 800px;

    h1, h2, h3, h4, h5 {
      color: $AgriTextGrey;
    }

    .h3, h3 {
      font-size: inherit !important;
    }

    h1 {
      font-family: 'Source Sans Pro', sans-serif;
      color: $MasseyBlue;
    }

    .md-card {
      padding: 2%;
      width: 100%;
      height: 100%;

      md-content {
        height: 100% !important;
        min-height: 50px !important;
      }
    }

    .md-button {
      width: 100%;
      text-transform: none !important;
    }

    .md-raised {
      box-shadow: none !important;
      border-radius: 0;
      background-color: lighten($MasseyBlue, 10%);
      &:hover , &:focus , &:active {
        background-color: $MasseyBlue !important;
      }
      color: white;
      h2, h3, h4, h5 {
        color: white;
      }

      md-icon {
        color: white !important;
      }
    }

    #brand {
      h1 {
        color: $MasseyBlue !important;
      }
      &:hover , &:focus , &:active {
        background-color: darken($AgriBackgroundWhite, 5%) !important;
      }
    }

    md-toolbar {
      background-color: $MasseyGold;
    }

    .body-space {
      min-height: 673px;
    }

    .hidden {
      visibility: hidden;
    }

    .delete {
      background-color: $Volcano !important;
      &.md-button {
        &:hover, &:focus, &:active {
          background-color: darken($Volcano, 10%);
        }
      }
    }

    .add {
      background-color: $Ponga !important;
      &.md-button {
        &:hover , &:focus , &:active {
          background-color: darken($Ponga, 5%) !important;
        }
      }

      .md-icon {
        color: $AgriBackgroundWhite;
      }


    }
  }

  img.ng-hide-add, img.ng-hide-remove {
    transition: 0.5s linear all;
  }

  .page-loading {
    height : 100%;
  }
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.cust-icon{
  height: 50px;
  width: 50px;
}