@import "colours";

@font-face {
  font-family: 'UniverseLT';
  src: url(fonts/universltstd-lightcn.woff) format('woff');
  src: url(fonts/universltstd-lightcn.ttf) format('truetype');
  src: url(fonts/universltstd-lightcn.svg) format('svg');
  src: url(fonts/universltstd-lightcn.eot) format('eot');
  font-weight: normal;
  font-style: normal;
}


body {
  background-color: $AgriBackgroundWhite;
  font-family: arial, sans-serif;

  .app {
    background-color : white;
    line-height: 1.4;

    h1, h2, h3, h4, h5 {
      color: $AgriTextGrey;
      font-family: 'UniverseLT', sans-serif;
    }

    .h3, h3 {
      font-size: inherit !important;
    }

    h1 {
      font-family: 'Source Sans Pro', sans-serif;
      color: $MasseyBlue;
    }

    .md-card {
      padding: 2%;
    }

    .md-button {
      width: 100%;
      text-transform: none !important;
    }

    .body-space {
      min-height: 673px;
    }

    .hidden {
      visibility: hidden;
    }

    .delete {
      background-color: $Volcano;
      &.md-button {
        &:hover, &:focus, &:active {
          background-color: darken($Volcano, 10%);
        }
      }
    }

    .add {
      background-color: $Ponga;
      &.md-button {
        &:hover , &:focus , &:active {
          background-color: darken($Ponga, 5%);
        }
      }

      .md-icon {
        color: $AgriBackgroundWhite;
      }


    }
  }

  img.ng-hide-add, img.ng-hide-remove {
    transition: 0.5s linear all;
  }
}

.cust-icon{
  height: 50px;
  width: 50px;
}